#productos-destacados {
	margin-bottom: 20px;
}

#carouselExampleIndicators {
	padding: 30px 0px;
}

.carousel-inner {
    text-align: center;
    margin-right: 11cm;
}
.carousel-control-prev {
    margin-top: 2.5cm;
    margin-left: 11cm;
}

.carousel-control-next{
    margin-top: 2.5cm;
    margin-right: 11cm;
}

.carousel-item {
    height: 300px;
    width: 300px;
    margin-left: 550px;
    /* margin-top: 50px; */
    /* margin-bottom: -75px; */
}

.carousel-indicators {
	bottom: -15px;
}

.bi {
    color: black;
    font-size: 1.4em;
}

.carousel-control-next, .carousel-control-prev {
    width: 70px;
    height: 70px;
}

.carousel-indicators li {
    background-color: black;
    height: 4px;
}

img.d-block {
    margin-left: 2.5cm;
}

#amd, #ps5{
    margin-top: -10px;
}