#contacto{
    max-width: 1000px;
    margin: 0 auto;
}

#contacto h1{
    padding: 30px 0;
    color: #7539aa;
}

.texto form fieldset {
    border: solid 0.5px #7539aa;
    border-radius: 32px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
}

td input[type=text], td input[type=email] {
    outline: none;
    border: solid 0.5px #7539aa;
    border-radius: 32px;
    padding-left: 10px;
}

td input[type=reset] {
	background-color: rgba(255,255,255,0.8);
	border: none;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	outline: none;
	transition: all .3s ease-in-out;
}

td input[type=reset]:hover {
	color: white;
	background-color: #7539aa;
}

td input[type=reset]:focus {
	outline: none;
}

.select-pais {
    outline: none;
	border-color: #7539aa;
    border-radius: 32px;
    padding-left: 10px;
}

input[type=file] {
    color: transparent;
}

input[type=file]::-webkit-file-upload-button {
    color:black;
    outline: none;
    border: solid 0.5px #7539aa;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    transition: all .3s ease-in-out;
    padding: 10px 10px 10px 10px;
}

input[type=file]::-webkit-file-upload-button:hover {
    color: white;
    background-color: #7539aa;
}

.tabla-contacto {
    border-spacing: 5px;
    border-collapse: separate;
}
