#sobre-nosotros{
    max-width: 1000px;
    margin: 0 auto;
}
#sobre-nosotros h1{
    padding: 60px 0;
    color: blueviolet;
}

#sobre-nosotros > div:first-child{
    display: flex;
    align-items: center;
    gap: 0 10px;
}

#logo{
    width: 45px;
    height: 45px;
}